:root {
  --primary-color: #f05711;
  --secondary-color: #212529;
  --background-color: #f1f5f7;
  --text-color: #212529;
  --opacity: 1;
}

.light {
  --primary-color: #f05711;
  --secondary-color: #212529;
  --background-color: #f1f5f7;
  --text-color: #212529;
  --opacity: 1;
}

.dark {
  --primary-color: #f05711;
  --secondary-color: #f1f5f7;
  --background-color: #212529;
  --text-color: #f1f5f7;
  --opacity: 0.6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  min-height: 100vh;
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}
.text {
  color: var(--text-color);
}
